.home-page{
    .text-zone{
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        max-height: 90%;
    }
    h1{
        color: #fff;
        font-size: 53px;
        margin:0;
        font-family: 'Coolvetica';
        font-weight: 400;
        letter-spacing: 2px;
    }

    h2{
        color: #e0dede;
        margin-top: 20px;
        font-weight: 400;
        font-size: 15px;
        font-family: sans-serif;
        letter-spacing: 2.5px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button{
        color:#ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font-family: sans-serif;
        text-decoration: none;
        padding: 1px 18px;
        border: 1px solid #ffd700;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.8s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #424242;
        }
    }
    .my-image{
        width:350px;
        position: fixed;
        margin-left: 1150px;
        margin-top: 20px;
        border-radius:50%;
        object-fit: cover;
    }
    .about-me{
        color: #ffd700;
    }
}